abc/
extraction-gym/data/my_data/*.json
extraction-gym/out_json/my_data/*.json
process_json/out_process_result/*.json
e-rewriter/dot_graph/
e-rewriter/target/
prcoess_json/
converted_circuit_strash/
graph2eqn/target/
process_json/target/
e-rewriter/md_circuit0.eqn.json
e-rewriter/circuit0.eqn.json
e-rewriter/out_processed.json
e-rewriter/md_out_processed.json
extract_res_2_egg/*.json
fuzz_abc_opt_flow/*.txt
fuzz_abc_opt_flow/*.log
e-rewriter/random_result/
*.csv
graph2eqn/*.json
graph2eqn/*.eqn
*.txt